---
import Meta from '../components/meta.astro'
---

<!DOCTYPE html>
<html lang="en" class="bg-slate-100">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#3367D6">
  <Meta title='Pokédex' description="Pokédex for the web"></Meta>
</head>
<body>
	<slot />
</body>
</html>

<style>
  
  :root {
    --color-normal: #BCBCAC;
    --color-fighting: #BC5442;
    --color-flying: #669AFF;
    --color-poison: #AB549A;
    --color-ground: #DEBC54;
    --color-rock: #BCAC66;
    --color-bug: #ABBC1C;
    --color-ghost: #6666BC;
    --color-steel: #ABACBC;
    --color-fire: #FF421C;
    --color-water: #2F9AFF;
    --color-grass: #78CD54;
    --color-electric: #FFCD30;
    --color-psychic: #FF549A;
    --color-ice: #78DEFF;
    --color-dragon: #7866EF;
    --color-dark: #785442;
    --color-fairy: #FFACFF;
    --color-shadow: #0E2E4C;

    --color-hp: #ffadad;
    --color-attack: #ffd6a5;
    --color-defense: #fdffb6;
    --color-special-attack: #9bf6ff;
    --color-special-defense: #caffbf;
    --color-speed: #ffc6ff;
    --color-total: #a0c4ff;
  }

</style>
